  name: Backup
  on:
    schedule:
      - cron: '0 0 * * *'
    workflow_dispatch:
  jobs:
    backup:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: thecommoncoder/notion-backup@v2
          with:
            notion-token: ${{ secrets.NOTION_TOKEN }}
            notion-page-id: ${{ secrets.NOTION_PAGE_ID }}
            output-dir: './backup'
        - name: Commit
          run: |
            git config --local user.email "bot@github.com"
            git config --local user.name "bot"
            git add ./backup
            git diff --staged --quiet || git commit -m "backup"
            git push
